# Tuple

    Tuples are used to store multiple items in a single variable.
    
    A tuple is a collection which is ordered and unchangeable.
    
    Tuples are written with round brackets().
     
    Tuple items are ordered, unchangeable, and allow duplicate values.

    Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
     
    ordered: order of tuple never changed.

In [1]:
## create a tuple

tuple1 = ("apple", "banana", "cherry")
print(tuple1)

('apple', 'banana', 'cherry')

#  len() : to check length

In [3]:
tuple1 = ("apple", "banana", "cherry")
print(len(tuple1))

3

#  create tuple with one item

In [6]:
tuple1 = ("apple",)
print(tuple1)

('apple',)

# Tuple Items - Data Types
   
    Tuple items can be of any data type:

In [8]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')

In [9]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))
print(type(tuple4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

# tuple() Constructor

In [10]:
 # note the double round-brackets
    
tuple1 = tuple(("apple", "banana", "cherry"))
print(tuple1)

('apple', 'banana', 'cherry')

# Access Tuple Items

   You can access tuple items by referring to the index number, inside square brackets:

In [11]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1[0])

apple

In [18]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1[-3:-1])

('apple', 'banana')

In [16]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1[-1])

cherry

# Check if Item Exists:
    
    use the in keyword

In [20]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Change Tuple Values
   
   You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [21]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [23]:
## append() to add items

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
## add 2 tuples by using operators.

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

# Remove Items
   
   convert into list then remove

In [25]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

# Unpacking a Tuple
   
   packing= when create a tuple & assign value in.

In [ ]:
## packing

tuple1 = ("apple", "banana", "cherry")

In [27]:
## unpacking

fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

#  Using Asterisk*
    
    when u have less no of variables than the no of variables in tuple, u use * 
    
    *= store extra elements in it

In [28]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

#  Looping a Tuple

     1. for loop 
     2. for loop using len(),range()
     3. while loop using len().

In [29]:
tuple1 = ("apple", "banana", "cherry")
for x in tuple1:
  print(x)

apple
banana
cherry

In [30]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [31]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

#  Join Two Tuples

In [32]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#   multiply tuples

In [33]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#  methods 


1.len()
2.appen() 
3.remove()
4.type()